[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rembg="*"
pillow="*"
flask="*"


[dev-packages]
rembg="*"
pillow="*"
flask="*"

[requires]
python_version = "3.9"
